.blackRectBig {
  position: absolute;
  z-index: 2;
}

.redCircle {
  position: absolute;
  top: 112px;
  left: 347px;
  width: 422px;
  height: 422px;
  border-radius: 1000px;
  background-color: #CA3636;
}

.blackRectMed {
  position: absolute;
  /* width: 245px;
  height: 120px; */
}

.blackRectLit {
  position: absolute;
  /* width: 127.42px;
  height: 42.42px; */
  z-index: 3;
}

.yellowRect {
  position: absolute;
  width: 732px;
  height: 424px;
}

.blackLineHor {
  position: absolute;
  width: 732px;
  height: 424px;
  top: 1px;
  left: 2px;
}

.redLine {
  position: absolute;
  top:1px;
  width: 295px;
  height: 105px;
}

.blackLineVer {
  position: absolute;
  /* width: 803px;
  height: 636px; */
}
